/** Stage container **/

.connected-carousels .stage {
    /*width: 620px;*/
    margin: 0 auto 20px auto;
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    /*width: 260px;*/
    width: 90%;
    margin: 0px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    /*height: 400px;*/ height: 300px;
    /*border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
   /* height: 60px;*/
    /*width: 240px;*/
    background: #fff;
    /*border: 2px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;*/
    /*-webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
    padding: 0 5px;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 2px solid #fff;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 305px;
    height: 310px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    moz-transform: translateY(-50%);
    ms-transform: translateY(-50%);
    o-transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    background: #212121;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: -15px;
    top: 22px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: -15px;
    top: 22px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}



/*-------------New Css--------*/

/*---- jcarousel slider ------*/
.jcarousel-wrapper { margin: 20px auto 0px auto; position: relative; margin-bottom:60px;}
.jcarousel {position: relative; overflow: hidden; width: 100%; height: 145px; overflow: hidden;}
.jcarousel ul{width: 20000em; position: relative; list-style: none; margin: 0; padding: 0;}
.jcarousel li{width: 200px; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 4px;}
.jcarousel img { display: block; max-width: 100%; /*height: 150px !important;*/ width: 100%;}
.jcarousel-control-prev, .jcarousel-control-next { position: absolute; top: 45%; transform: translateY(-45%); width: 44px; height: 44px; text-align: center; background-color: rgba(248,248,248,.75); color: #505050; text-decoration: none; padding: 5px; font-size: 24px; font-weight: bold; z-index: 9;}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover{background-color: #fff; color: #505050;}
.jcarousel-control-prev {left: 0px;}
.jcarousel-control-next {right: 0;}
.jcarousel-control-prev:hover span,.jcarousel-control-next:hover span {display: block;}
.jcarousel-control-prev.inactive,.jcarousel-control-next.inactive {background-color: #EEEEEE; cursor: default;}
.jcarousel-pagination {position: absolute; bottom: -33px; left: 50%; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); margin: 0; width:100%; text-align: center;}
.jcarousel-pagination a {text-decoration: none; display: inline-block; font-size: 11px; height: 10px; width: 10px; line-height: 10px; background: #fff; color: #4E443C; border-radius: 10px; text-indent: -9999px; margin-right: 6px; -webkit-box-shadow: 0 0 2px #4E443C; -moz-box-shadow: 0 0 2px #4E443C; box-shadow: 0 0 2px #4E443C;}
.jcarousel-pagination a.active { background: #4E443C; color: #fff;  opacity: 1; -webkit-box-shadow: 0 0 2px #F0EFE7;  -moz-box-shadow: 0 0 2px #F0EFE7;  box-shadow: 0 0 2px #F0EFE7;}

.jcarousel-outer .jcarousel-control-prev,.jcarousel-outer .jcarousel-control-next{
	display:none;
	
}